body {background-color: rgb(234, 236, 237);
    color:brown;
    padding:10px;
    margin:10px auto;
}
button{
    background-color: rgb(234, 236, 237);
    color:brown;
    border-radius: 4px;;

}
button:hover{
    background-color: brown;
    color:rgb(234, 236, 237);
}